  /deep/.avue-crud__menu {
     height: 40px;
     background: #fff;
     border: 1px solid #f6f6f6;
     border-right: none;
     border-left: none;
   }
  .avue-crud-search__search {
     margin-top: 57px;
   }
  .el-pagination {
    text-align: center;
    position: static!important;
  }
  .el-pagination>span,.el-pagination>button {
    display: none!important;
  }
  .el-pagination>ul>li {
    background: #FAFBFC;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
  }
  .el-table--border {
    border-radius: 10px;
  }
  .el-card.is-always-shadow {
   background: #edf0f5;
  }
  .el-card__body {
    padding: 0 10px;
  }
  .el-form-item {
    margin-bottom: 14px;
  }
  .basic-container  {
    padding: 0;
    border-radius: 0px;
  }
